<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.assistant.jarvis">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    
    <uses-permission android:name="android.permission.BIND_ACCESSIBILITY_SERVICE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    
    <uses-permission android:name="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE" />

    <application
        android:allowBackup="true"
        android:label="Jarvis Assistant"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        
        <service android:name=".FloatingButtonService"
            android:enabled="true"
            android:exported="false" />
            
        <meta-data
            android:name="GEMINI_API_KEY"
            android:value="AIzaSyDfkkHWQkQPGkI02elKCehdeZ-xW3qWKrE" />
    </application>
</manifest>
